//
//  Debug.xcconfig
//  Vocap
//
//  Created by Anthony Tran on 8/6/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Base.xcconfig"

APP_NAME = $(inherited) Dev

PRODUCT_BUNDLE_IDENTIFIER = $(inherited).dev

ASSETCATALOG_COMPILER_APPICON_NAME = ${inherited}Dev
